
<%- include("header") -%>


   <div class="box" id="heading">
      <h1> <%= listTitle %></h1>
   </div>


   <div class="box">

      <!-- Rendering our arrya -->
      <% for(var i=0; i < newListItems.length; i++ ) { %>

         <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i] %> </p> 
         </div>

      <% } %>

      <form class="item" action="/" method="POST">
         <input type="text" name="newItem" placeholder="New Item">
         <button type="submit" name="button" value=<%= listTitle %>>+</button>
         <!-- <div class="md-icon md-add-icon"></div> -->
      </form>      

   </div><!-- End of Box-->
   
      
<%- include("footer") -%>